{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">School Manager</h1>
    <p class="lead">Bienvenido al sistema de administración escolar</p>
  </div>
</div>
{{end}}

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Estudiantes</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Administrar estudiantes</p>
        <a href="/students" class="btn btn-primary">Ver Listado</a>
        <a href="/students/add" class="btn btn-primary">Añadir Estudiante</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Salones</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Administrar salones</p>
        <a href="/classrooms" class="btn btn-primary">Ver Listado</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Materias</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Administrar materias</p>
        <a href="/subjects" class="btn btn-primary">Ver Listado</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Asistencias</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Administrar asistencia de cada estudiante por salón</p>
        <a href="/attendances" class="btn btn-primary">Ver Listado</a>
      </div>
    </div>
  </div>
</div>



